// Menu
.menu__link {
  @include font-base-bold;
  text-transform: uppercase;
}

// Sections Background Blod
.bg-dark > .bg-figure .bg-figure-image {
  mix-blend-mode: color;
}

// Header
@keyframes logo-intro {
  0%,
  75% {
    transform: translate(-13em, 10em) scale(2.5);
  }
}
#body-home,
#body-la-carniceria-tattoo {
  #header {
    .box--1 {
      .image {
        margin-top: 1.5em;
        filter: drop-shadow($shadow);
        @media (min-width: $viewport-xl) {
          animation: logo-intro 2s 0s both;
        }
      }
      .image,
      .image__inner {
        border-radius: 0;
      }
      .image__inner {
        width: 26em;
        overflow: visible;
      }
      blockquote {
        margin-block: 0 1.5em;
      }
    }
    @mixin show-from($delay) {
      animation: show-from .5s (1.75 + .125s * $delay) both;
    }
    blockquote {       @include show-from(0); }
    .md > p {          @include show-from(1); }
    .button        {   @include show-from(2); }
    .box--2 .image {   @include show-from(3); }
    .bg-figure-image { @include show-from(0);
      animation: show-from .125s 1s both;
      --show-from: scale(3);
      transform-origin: bottom;
    }
  }
}

#sobre-mi,
#sobre {
  .image,
  .image__inner {
    overflow: visible;
  }
}

.review__stars {
  color: var(--cta);
}
