@use 'css/_mixins' as mixins;
@use 'css/_variables' as variables;

// Menu
.menu__link {
  @include mixins.font-base-bold;
  text-transform: uppercase;
}

// Sections Background Blod
.bg-dark > .bg-fig .bg-fig-image {
  mix-blend-mode: color;
}

// Header
@keyframes logo-intro {
  0%,
  75% {
    transform: translate(-13em, 10em) scale(2.5);
  }
}
#body-home,
#body-la-carniceria-tattoo {
  #hero {
    .box--1 {
      .img {
        margin-top: 1.5em;
        filter: drop-shadow(variables.$shadow);
        @media (min-width: variables.$viewport-xl) {
          animation: logo-intro 2s 0s both;
        }
      }
      .img,
      .img__in {
        border-radius: 0;
      }
      .img__in {
        width: 26em;
        overflow: visible;
      }
      blockquote {
        margin-block: 0 1.5em;
      }
    }
    @mixin show-from($delay) {
      animation: show-from .5s (1.75 + .125s * $delay) both;
    }
    blockquote {       @include show-from(0); }
    .md > p {          @include show-from(1); }
    .btn        {   @include show-from(2); }
    .box--2 .img {   @include show-from(3); }
    .bg-fig-image { @include show-from(0);
      animation: show-from .125s 1s both;
      --show-from: scale(3);
      transform-origin: bottom;
    }
  }
}

#sobre-mi,
#sobre {
  .img,
  .img__in {
    overflow: visible;
  }
}

.review__stars {
  color: var(--cta);
}
